.workoutSlider .swiper-wrapper {
  height: 420px;
}

.workoutSlider .swiper-button-prev::after,
.workoutSlider .swiper-button-next::after {
  content: '';
}

.workoutSlider .swiper-button-prev,
.workoutSlider .swiper-button-next {
  top: 96%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 36px;
  height: 36px;
}

.workoutSlider .swiper-button-prev {
  left: 88%;
  background-image: url('../src/assets/img/workouts/icons/chevron-left.svg');
}
.workoutSlider .swiper-button-prev:hover {
  background-image: url('../src/assets/img/workouts/icons/chevron-leftHov.svg');
}

.workoutSlider .swiper-button-next {
  background-image: url('../src/assets/img/workouts/icons/chevron-right.svg');
  right: 66px;
}
.workoutSlider .swiper-button-next:hover {
  background-image: url('../src/assets/img/workouts/icons/chevron-rightHov.svg');
}

@media (max-width: 1300px) {
  .workoutSlider .swiper {
    height: auto;
  }
  .workoutSlider .swiper-wrapper {
    height: 380px;
  }
  .workoutSlider .swiper-button-prev {
    left: 68%;
  }
  .workoutSlider .swiper-button-next {
    right: 33px;
  }
}
